.edulogo {
    margin-left: 35px;
}

.welcome {
    max-width: 500px;
}

.form {
    background-color: #ECB744;
    padding: 24px 36px 24px 36px;
    width: 532px;
    border-radius: 15px;
    box-shadow: 2px 2px 40px 0px #393939;
}

.form_content {
    margin: 140px 0px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.login {
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 10px;
    text-align: center;
    font-size: 24px;
}

.input_box_1,
.input_box_2 {
    display: block;
}

.input_box_1 {
    padding-top: 32px;
}

.input_box_2 {
    border: 2px solid #000;
    border-radius: 28px;
    padding: 16px;
    background: transparent;
    width: calc(100% - 36px);
    color: #000;
    margin-top: 8px;
}

.remember_forgot {
    display: flex;
    justify-content: space-between;
    padding: 28px 0px 28px 0px;
    font-weight: bold;
}

.remember_forgot label input {
    mix-blend-mode: multiply;
    margin-right: 10px;
}

.remember_forgot a {
    color: #000;
    text-decoration: none;
}

.remember_forgot a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #333;
}

.remember_forgot b:hover {
    cursor: pointer;
    color: #333;
}

.btn_send input {
    width: 45%;
    height: 45px;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.5s;
}

.btn_send {
    width: 100%;
    display: flex;
    justify-content: center;
}

.btn_send input:hover {
    background: #000000;
    color: #fff;
}

.welcome h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 80px;
    text-align: center;
    color: #33B57F;
    margin-bottom: 30px;
}

.welcome p {
    margin: 0;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    color: #000;
}

.welcome p span {
    color: #38C4ED;
}

@media only screen and (max-width:1000px) {
    .form_content {
        flex-direction: column;
        align-items: center;
        margin-top: 40px;
    }

    .form {
        width: calc(100vw - 160px);
    }

    .headerlogo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .edulogo {
        width: 72vw;
        margin: 0;
    }

    .welcome {
        width: 92vw;
        margin-bottom: 60px;
    }

    .welcome h2 {
        margin-bottom: 4px;
        font-size: 32px;
    }

    .welcome p {
        font-size: 20px;
        line-height: 28px;
    }

    .login {
        font-size: 20px;
    }
}