*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif, "Poppings";
}

body
{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("/Login.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
    overflow: auto;
}

@media only screen and (max-width:500px){
    body{
        background: #b8f0fb;
    }
}